# Example settings

RPC = ws://127.0.0.1:8548    # RPC must have websocket capabilities
PRIVATE_KEY = 0x...          # Private key of the account to use
NETWORK = zktestnet          # Either "zksync" or "zktestnet" to specify mainnet or testnet
